body {
    background-color: rgb(255, 219, 199);
}

.under {
    text-decoration: underline;
}

p {
    padding-left: 25px;
}

h3 {
    padding-left: 25px;
}

h3:target {
    text-decoration: underline;
    font-style: italic;
}

a {
    text-decoration: none;
    color: rgb(255, 145, 0);
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: grey;
}

.links {
    display: inline-block;
    background-color: white;
    height: 200px;
    width: 200px;
    border: solid 5px;
}

.backgorund-links {
    background-color: grey;
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
    border: solid 5px;
}

.articles {
    display: inline-block;
    background-color: rgb(180, 180, 180);
    height: 210px;
    width: 210px;
    margin: 5px;
}

.backgorund-art {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.backgorund-art2 {
    background-color: grey;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    display: inline-block;
}